<div style="height: 350px">

  <ejs-treegrid [dataSource]="data" #treegrid height="200%" width="100%" [treeColumnIndex]="1"
    [sortSettings]="sortSettings" [contextMenuItems]="contextMenuItems" [allowSorting]="true"
    [allowResizing]="true" [allowPaging]="true" [pageSettings]="pageSettings" [editSettings]="editSettings"
    (contextMenuClick)='contextMenuClick($event)' childMapping='subtasks'>

    <e-columns>
      <e-column field="taskID" headerText="Task ID" textAlign="Right" width="20%"></e-column>
      <e-column field="taskName" headerText="Task Name" textAlign="Left" width="30%"></e-column>
      <e-column field="startDate" headerText="Start Date" textAlign="Right" format="yMd" width="20%"></e-column>
      <e-column field="duration" headerText="Duration" textAlign="Right" width="30%"></e-column>
    </e-columns>

  </ejs-treegrid>
</div>

<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog header='Dialog' content='This is a Dialog with button and primary button'
   width='500px' [buttons]='buttons'>
  <ng-template #header>
    <span>Choose a Dialog Position</span>
  </ng-template>
  <ng-template #content>
    <form id="reactive" [formGroup]="form">
      <div class="form-group" style="padding-top: 11px;">
        <div class="e-float-input">
          <input type="text" id="taskId" name="taskID" class="required" formControlName="taskID">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="taskID">Task ID</label>
        </div>

      </div>

      <div class="form-group" style="padding-top: 11px;">
        <div class="e-float-input">
          <input type="text" id="taskName" name="taskName" class="required" formControlName="taskName">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="taskName">TaskName</label>
        </div>

      </div>

      <div class="form-group" style="padding-top: 11px;">
        <div class="e-float-input">
          <input type="date" id="startDate" name="startDate" class="required" formControlName="startDate">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="startDate">start Date</label>
        </div>

      </div>

      <div class="form-group" style="padding-top: 11px;">
        <div class="e-float-input">
          <input type="text" id="duration" name="duration" class="required" formControlName="duration">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="duration">Duration</label>
        </div>

      </div>

    </form>
  </ng-template>
</ejs-dialog>
